@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

:root {
    --ff-default: "Manrope", sans-serif;
    --fw-default: 500;
    --fw-bold: 800;
    --fs-default: 13px;

    --clr-verydark-grblue: hsl(217, 19%, 35%);
    --clr-desa-darkblue: hsl(214, 17%, 51%);
    --clr-grblue: hsl(212, 23%, 69%);
    --clr-light-grblue: hsl(210, 46%, 95%);
}

*, *::before, *::after {box-sizing: border-box;}

* {
    margin: 0;
    padding: 0;
    font: var(--fw-default) var(--fs-default) var(--ff-default);
    text-decoration: none;
}

body {
    align-items: center;
    justify-content: center;
    background-color: var(--clr-light-grblue);
}

.wrapper {  
    display: flex;
    padding: 100px 10px 50px 10px;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 15px;
    max-width: 450px;
    min-width: 450px;
    min-height: 790px;
    max-height: 790px;
    box-shadow: 5px 5px 55px rgb(192, 192, 192);
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
}

.card #article-img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    min-height: 360px;
    max-height: 360px;
}

.card > h1 { 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 20px;
    font-weight: var(--fw-bold);
    color: var(--clr-verydark-grblue);
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 35px 50px 10px 40px;

    min-height: 90px;
    max-height: 90px;
}

.card > p { 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    font-size: 18px;
    color: var(--clr-grblue);
    margin: 0 55px 20px 40px;
    line-height: 1.7;

    min-height: 153px;
    max-height: 153px;
}

#avatar-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.card #avatar { 
    min-height: 120px;
    max-height: 120px;

    scale: 55%;
    border-radius: 50%; 
    display: block;
    margin: 0 0 0 20px;
}

.hide {
    display: none;
}

.card .user-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;

    min-height: 120px;
    max-height: 120px;

    align-content: center;
}

.card .user-info .username {
    font-weight: var(--fw-bold);
    font-size: 16px;
    color: var(--clr-desa-darkblue);
    text-indent: -20px;
}

.card .user-info .date {
    font-size: 16px;
    color: var(--clr-grblue);
    letter-spacing: 1px;
    text-indent: -20px;
}

.card #share-button {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;

    align-content: center;

    padding: 0 0 0 60px;
}

.card #share-button-svg {
    background-color: var(--clr-light-grblue);

    padding: 10px;
    scale: 150%;
    border-radius: 50%;
    width: 35px;
    height: 35px; 
}

#share-msg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

    display: none;
    color: var(--clr-grblue);
    font-size: 20px;
    letter-spacing: 7px;
    text-align: center;
    padding: 45px 0 40px 10px;
}

#social-media-icons {
    display: none;
    flex-direction: row;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: center;
    padding: 20px 0 0 20px;
}

#social-media-icons svg {
    margin: 0 20px 20px 0;
    scale: 140%;
}

#social-media-icons svg:hover {
    cursor: pointer;
}

.share-button svg:hover {
    cursor: pointer;
}

#social-media-icons-popup {
    display: none;
    position: relative;
    background: var(--clr-verydark-grblue);
    top: -420%;
    right: -163%;

    border-radius: 15px;

    min-height: 70px;
    max-height: 70px;
    min-width: 340px;
    max-width: 340px;
    margin: -10px;
    z-index: 995;
}

#share-msg-popup {
    color: var(--clr-grblue);
    font-size: 18px;
    letter-spacing: 7px;
    text-align: center;
    float: left;
    margin: 25px 0 0 20px;
}

#social-media-icons-popup svg {
    margin: 25px 15px 0 30px;
    scale: 140%;
}

#social-media-icons-popup svg:hover {
    cursor: pointer;
}

#social-media-icons-popup:after, 
#social-media-icons-popup:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#social-media-icons-popup:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: var(--clr-verydark-grblue);
	border-width: 10px;
	margin-left: -10px;
}
#social-media-icons-popup:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: var(--clr-verydark-grblue);
	border-width: 16px;
	margin-left: -16px;
}

.attribution {
    position: fixed;
    bottom: 0;
}

.attribution a {
    transition: color 300ms ease-in-out;
}

.attribution a:hover {
    color: red;
}

@media screen and (width > 870px) {
    .wrapper {
        padding: 150px 10px 50px 10px;
    }

    .card {
        max-width: 830px;
        min-width: 830px;
        min-height: 450px;
        max-height: 450px;

        grid-auto-columns: auto;
    }

    .card #article-img { 
        border-radius: 15px 0 0 15px;
        min-width: 450px;
        max-width: 450px;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    
        min-height: 450px;
        max-height: 450px;
        margin: 0 -85px 0 0;
        clip-path: inset(0 85px 0 0);
    }

    .card > h1 { 
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;

        min-height: 150px;
        max-height: 150px;

        margin: 35px 50px -30px 40px;
        padding: 0;
    }

    .card > p { 
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;

        min-height: 150px;
        max-height: 150px;

        margin: 0 55px 20px 40px;
        padding: 0;
    }

    #avatar-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        
    }

    .card .user-info {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
 
    }
    
    .card #share-button {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}